.slick-next,
.slick-prev {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.slick-next{
    right: 0;
}

.slick-prev {
    left: 0;
}

.slick-next:hover,
.slick-prev:hover {
    opacity: 0.8;
    cursor: pointer;
}

.slick-next::before,
.slick-prev::before {
    position: absolute;
    font-size: 50px !important;
}

.slick-next::before {
    transform: translate(-60px, 0px);
}

.slick-prev::before {
    transform: translate(30px, 0px);
}


  