@import './responsive.scss';

.slick-next,
.slick-prev {
    opacity : 0.5;
    position: absolute;
    top     : 50%;
    z-index : 1;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.slick-next:hover,
.slick-prev:hover {
    opacity: 0.8;
    cursor : pointer;
}

.slick-next::before,
.slick-prev::before {
    position : absolute;
    font-size: 50px !important;

    @include phone {
        font-size: 30px !important;

    }
}

.slick-next::before {
    transform: translate(-34px, 0px);

    @include phone {
        transform: translate(-15px, 0px);

    }
}

.slick-prev::before {
    transform: translate(3px, 0px);

    @include phone {
        transform: translate(5px, 0px);

    }
}